<main class="max-w-7xl m-auto p-10" id="Services">
  <div
    class="flex justify-center gap-10 items-center"
    data-aos="fade-left"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
  >
    <img
      class="w-[600px] h-[400px]"
      src="https://images.pexels.com/photos/10486140/pexels-photo-10486140.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt=""
    />
    <h1 class="text-7xl font-bold text-[#151515]">
      renting a wide range of furnished and serviced apartments
    </h1>
  </div>
  <div
    data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
    class="flex justify-center gap-10 items-center flex-row-reverse mt-20"
  >
    <img
      class="w-[600px] h-[400px]"
      src="https://images.pexels.com/photos/18038116/pexels-photo-18038116/free-photo-of-alfombra-elegancia-mueble-mobiliario.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt=""
    />
    <div class="flex flex-col gap-16">
      <h1 class="text-3xl font-semibold">Details</h1>
      <ul class="list-disc pl-6">
        <li>
          Minimalism with clean lines and neutral colors, creating a calm and
          organized atmosphere.
        </li>
        <li>
          Functional and elegant furniture, where simplicity combines with
          comfort.
        </li>
        <li>
          Use of natural materials like wood and metal, adding texture and
          warmth to the space.
        </li>
        <li>
          Soft and strategic lighting, highlighting key areas without
          overwhelming the environment.
        </li>
        <li>
          Decorative accessories like plants and artwork that add life without
          overcrowding the space.
        </li>
      </ul>
    </div>
  </div>
  <div
    data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
    class="flex justify-center gap-10 items-center flex-row mt-20"
  >
    <img
      class="w-[600px] h-[400px]"
      src="https://images.pexels.com/photos/276724/pexels-photo-276724.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt=""
    />
    <div class="flex flex-col gap-16">
      <h1 class="text-3xl font-semibold mb-4">Amenities</h1>
      <ul class="list-disc pl-6 space-y-2">
        <li>
          Minimalism with clean lines and neutral colors, creating a calm and
          organized atmosphere.
        </li>
        <li>
          Functional and elegant furniture, where simplicity combines with
          comfort.
        </li>
        <li>
          Use of natural materials such as wood and metal, adding texture and
          warmth to the space.
        </li>
        <li>
          Soft and strategic lighting, highlighting key areas without
          overwhelming the environment.
        </li>
        <li>
          Decorative accessories like plants and artwork that add life without
          overcrowding the space.
        </li>
      </ul>
    </div>
  </div>
</main>
